<!--/*CAGON DIOS*/-->
<h1 class="section-title text-center">AppImgRandom</h1>
<div id="content" class="container-fluid text-center">
  <div id="img-viewer" class="center-block">
    <div id="Specs">
      <span id="nombre"></span><br>
      <span id="estela"></span><br>
      <span id="velocidad"></span><br>
    </div>
    <img id="porta_img" style="display: none" class="img-responsive center-block" src>
  </div>
  <div id="botonera" class=text-center >
    <input id="next" class="btn-success" type="button" value="Siguiente">
    <input id="show" class="btn-info" type="button" value="Destapar">
  </div>
</div>
